html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #434455;
    --secondary-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --dark-accent-color: #404BBF;
    --white-color: #FFFFFF;
    --grey-color: #E7E9FC;
    --light-grey-color: #F4F4FD;
    --green-color: #31D0AA;
    --icons-color: #8E8F99;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


/* Header */

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--secondary-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.accent,
.logo:hover, 
.logo:focus, 
.logo:active {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    margin-left: 76px;
}

.nav-list .item:not(:last-child),
.contact-list .item:not(:last-child) {
    margin-right: 40px;
}

.nav-list .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--secondary-text-color);

    font-weight: 700;
}

.nav-list .link:hover,
.nav-list .link:focus,
.contact-list .link:hover,
.contact-list .link:focus {
    color: var(--accent-color);
}
 
.nav-list .link:active, 
.nav-list .link.current,
.contact-list .link:active {
    color: var(--dark-accent-color);
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list .link {
    color: var(--secondary-text-color);
}


/* Section */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.btn {
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}


/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--secondary-text-color);
}

.footer-content {
    display: flex;
}

/* .footer-description, 
.social-media {
    border: 1px solid white;
} */

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;

    color: var(--light-grey-color);
}

.footer-text {
    width: 264px;
    
    color: var(--grey-color);
}

.social-media {
    margin-left: 120px;
}

.social-media .title {
    margin-bottom: 16px;
    
    color: var(--white-color);

    font-weight: 700;
    font-size: 16px;
}

.social-media-list {
    display: flex;

}

.social-media-item {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.social-media-item:nth-child(4n) {
    margin-right: 0;
}

.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    background-color: var(--accent-color);
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: var(--green-color);
}

.social-media-icon {
    width: 24px;
    height: 24px;
}