/* Projects */

.projects {
    padding-top: 96px;
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-list .item:not(:last-child) {
    margin-right: 24px;
}

.filter-btn {
    padding: 12px 24px;
    border: 1px solid var(--grey-color);

    background-color: var(--light-grey-color);
    color: var(--accent-color);

    font-weight: 700;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    border-color: transparent;

    background-color: var(--dark-accent-color);
    color: var(--white-color);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
}

.project-card:nth-child(3n) {
    margin-right: 0;
}

.project-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project-list .link {
    color: var(--primary-text-color);
}

.card-description {
    padding: 32px 16px;
    border-left: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    border-right: 1px solid var(--grey-color);
}

.card-description .title {
    margin-bottom: 8px;
    
    color: var(--secondary-text-color);

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}