/* Hero */

.hero {
    padding-top: 112px;
    padding-bottom: 112px;

    text-align: center;
}

.overlay {
    margin-left: auto;
    margin-right: auto;

    background-color: var(--title-text-colour);
    background-repeat: no-repeat;
}

.hero-title {
    color: var(--white-color);

    font-weight: 700;
}

.hero-btn {
    padding: 16px 32px;
    border-color: transparent;

    background-color: var(--accent-color);
    color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.hero-btn:hover, 
.hero-btn:focus, 
.hero-btn:active {
    background-color: var(--dark-accent-color);
}


/* Section */

.section-title {
    margin-bottom: 72px;

    text-align: center;
}


/* Advantages */

.advantages-list .title {
    margin-bottom: 8px;
}

.section-title,
.advantages-list .title {
    color: var(--secondary-text-colour);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.advantages-list p {
    font-weight: 500;
}


/* Team */

.team {
    background-color: var(--light-grey-color);
}

.member-list > .item {
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-description {
    padding: 32px 16px 32px;

    background-color: var(--white-color);

    text-align: center;
}

.member-list .title {
    margin-bottom: 8px;

    color: var(--secondary-text-colour);
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.member-description > p {
    margin-bottom: 8px;
}

.social-network-list {
    display: flex;
}

.social-network-item {
    width: 40px;
    height: 40px;
    margin-right: 24px;
}

.social-network-item:nth-child(4n) {
    margin-right: 0;
}

.social-network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
    background-color: var(--green-color);
}

.social-network-icon {
    width: 16px;
    height: 16px;
}


/* Clients */

.customers-list {
    display: flex;
}

.customer-item {
    height: 88px;
}

.customer-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--icons-color);

    color: var(--icons-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo-link:hover,
.customer-logo-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.customer-icon {
    width: 110px;
    height: 56px;
    fill: currentColor;
}


/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    width: 392px;
    height: auto;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    background-color: var(--modal-color);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-bottom: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    color: var(--black-color);
    background-color: var(--grey-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    cursor: pointer;
}

.close-button:hover,
.close-button:focus,
.close-button:active {
    color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.close-button:hover,
.close-button:focus {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.close-button:active {
    border-color: var(--dark-accent-color);
    background-color: var(--dark-accent-color);
}

.close-icon {
    fill: currentColor;
}

.modal-title {
    margin-bottom: 16px;

    color: var(--secondary-text-color);

    font-weight: 500;
    text-align: center;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.label-name {
    margin-bottom: 4px;

    color: var(--icons-color);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input-field {
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    width: 18px;
    height: 24px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus-within > .modal-icon {
    fill: var(--accent-color);
}

.textarea-label {
    margin-bottom: 16px;
}

.textarea {
    height: 120px;
    padding: 8px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    background-color: transparent;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

.textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    
    color: var(--icons-color);

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;
    margin-right: 8px;
}

.checkbox:checked + .checkbox-icon {
    background-color: var(--accent-color);
    background-image: url('../images/vector.svg');
    border-color: var(--accent-color);
    background-position: center;
    background-repeat: no-repeat;
}

.privacy-policy {
    color: var(--accent-color);
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        
    color: var(--white-color);
    background: var(--accent-color);
    
    font-weight: 500;
    letter-spacing: 0.04em;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus,
.submit-button:active {
    background-color: var(--dark-accent-color);
}



@media screen and (max-width: 767px) {
    .overlay {
        max-width: 428px;
        height: 432px;
    
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
            url(../images/bg-image.jpg);
    }

    @media screen and (min-device-pixel-raio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-bg@2x.jpg);
        }
    }

    .hero-title {
        width: 318px;
        margin: 0 auto 72px;

        font-size: 36px;
        line-height: 1.11;
    }

    .advantages-list > .item:not(:last-child) {
        margin-bottom: 72px;
    }

    .advantages-list .title {
        text-align: center;
    }

    .member-list > .item {
        margin-left: auto;
        margin-right: auto;
    }

    .member-list > .item:not(:last-child) {
        margin-bottom: 72px;
    }

    .customers-list {
        flex-wrap: wrap;
    
        margin-left: -16px;
        margin-top: -72px;
    }
    
    .customer-item {
        flex-basis: calc(100% / 2 - 16px);
        margin-left: 16px;
        margin-top: 72px;
    }
}

@media screen and (max-width: 1199px) {
    .advantages-background {
        display: none;
    }

    .section.works {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .overlay {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg.jpg);
        max-width: 768px;
        height: 436px;
    }

    @media screen and (min-device-pixel-raio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet-bg@2x.jpg);
        }
    }

    .hero-title {
        width: 496px;
        margin: 0 auto 36px;

        font-size: 56px;
        line-height: 1.07;
    }

    .advantages-list {
        display: flex;
    }

    .member-list {
        display: flex;
    }

    .customer-icon {
        width: 104px;
    }

    .modal {
        top: 96px;
        width: 408px;

        transform: translateX(-50%) scale(1);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .advantages-list {
        flex-wrap: wrap;

        margin-left: -24px;
        margin-top: -72px;
    }

    .advantages-list > .item {
        flex-basis: calc(100% / 2 - 24px);
        margin-left: 24px;
        margin-top: 72px;
    }

    .member-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-left: -24px;
        margin-top: -64px;
    }

    .member-list > .item {
        flex-basis: calc(100% / 2 - 24px);
        margin-left: 24px;
        margin-top: 64px;
        max-width: 264px;
    }

    .customers-list {
        flex-wrap: wrap;
        justify-content: center;

        margin-left: -24px;
        margin-top: -72px;
    }

    .customer-item {
        flex-basis: calc(100% / 3 - 48px);
        margin-left: 24px;
        margin-top: 72px;
        max-width: 168px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 192px;
        padding-bottom: 192px;
    }

    .overlay {
        max-width: 1440px;
        height: 600px;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop-bg.jpg);
    }

    @media screen and (min-device-pixel-raio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop-bg@2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }

    .advantages-list {
        flex-wrap: nowrap;
    }

    .advantages-list > .item {
        width: 264px;
    }

    .advantages-list > .item:not(:last-child) {
        margin-right: 24px;
    }

    .advantages-background {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        border-radius: 4px;
    
        background-color: var(--light-grey-color);   
    }
    
    .advantages-icon {
        width: 64px;
        height: 64px;
    }

    .advantages-list p {
        font-weight: 400;
    }

    .section.works {
        padding-top: 0;
    }

    .work-list {
        display: flex;
    }

    .work-list > .item {
        width: 360px;
    }

    .work-list > .item:not(:last-child){
        margin-right: 24px;
    }

    .member-list > .item:not(:last-child){
        margin-right: 24px;
    }

    .customer-item {
        width: 168px;
    }

    .customer-item:not(:last-child){
        margin-right: 24px;
    }

    .modal {
        top: 80px;
    }
}